{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Бар, но не тот о котором ты подумал</h5>
    <div class="card-body">
        <p class="card-text"> Сдеаелаем вам блог, быстро, качественно, ну или не совсем </p>
        <a href="https://www.youtube.com/playlist?list=PLlWXhlUMyooaDkd39pknA1-Olj54HtpjX"
           class="btn btn-danger">Не нажимать! Опасно!</a>
    </div>
</div>
</div>

{% endblock sidebar %}